[project]
name = "mujoco-weird-collision-behavior"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "jupyter>=1.1.1",
    "jupytext>=1.18.1",
    "mujoco>=3.4.0",
]
